:root{
    /* fonts */
--main-fonts: 'Roboto', sans-serif;
--secondery-fonts: 'Raleway', sans-serif;


/* text colors */
--main-txt-cl: #212121;
--eccent-txt-cl: #2196F3;

/* bg colors */
--light-bg-cl:#FFFFFF;
--dark-bg-cl: #2F303A;

  /* others */

}

body {
    font-family: var(--main-fonts);
    color: var(--main-txt-cl);
}

/* reset styles */
.link{
  text-decoration: none;
  color: currentColor ;
}
.list{
    list-style: none;
}

/* heder section */
.heder{
    background-color: var(--light-bg-cl);
}
.logo-txt{
     font-family: var(--secondery-fonts);
    Font style: Bold
    Font size: 26px
    Line height: calc(100 / 31);
    Align: Left
    Vertical align: Top 
    Letter spacing: 3%
}
.heder-link{
    font-family: var(--main-fonts);
    Font style: Medium
    Font size: 14px
    Line height: calc(16 / 14) 
    Align: Left
    Vertical align: Top
    Letter spacing: 2%
    color: #212121;
}

.logo-txt:hover,
.logo-txt:focus{
color: var(--eccent-txt-cl);
}

.heder-link:hover,
.heder-link:focus{
    color: var(--eccent-txt-cl);
}

.heder-link-current{
    color: var(--eccent-txt-cl);
}

.heder-phone, 
.heder-mail{
    Font style: Medium
    Font size: 14px
    Line height: calc(16 / 14)
    Align: Left
    Vertical align: Top
    Letter spacing: 2%
    color: #757575;   
}
.heder-phone:hover,
.heder-phone:focus,
.heder-mail:hover,
.heder-mail:focus{
    color: var(--eccent-txt-cl);
}


/* section-discription */


.btn{
font-family: inherit;    
Font style: Bold
Font size: 16px
Line height: calc(30 / 16)
Vertical align: Center
Letter spacing: 6%
color: #FFFFFF;
background-color: #188CE8;
cursor:pointer;
}
